h1{
    font-family: 'Lato', serif;
    font-size: 48px;
}
/** header **/
header {
    border-bottom: 2px solid #f1f1f1;
    max-height: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #7a7a7a;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}

#ancre{
    position:fixed;
    top:90%;
    left:95%;
    width:50px;
    height:50px;
}

#recherche input[type="search"]{
    border: none;
    padding: 10px;
    min-width: 255px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    margin-bottom:15px;
}

header #recherche input[type="submit"]{
    border: none;
    padding: 10px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
}

input[type="submit"]{
    border: none;
    padding: 10px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
}


header #index #recherche input[type="submit"]:hover{
    border: none;
    padding: 10px;
    color: black;
    border: 1px solid grey;
}


input[type="submit"]:hover{
    border: none;
    padding: 10px;
    color: black;
    border: 1px solid grey;
}

/** header **/

/** nav **/
nav{
    background-color: #7a7a7a;
}
#menu ul{
    display:flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
    padding:10px;
    background-color: #7a7a7a;
    color:white;
}


#menu ul li{
    padding:20px;
    background-color: red;
    color:white;
}


#menu ul li:hover{
    padding:20px;
    background-color: red;
    color:white;
    border:1px solid black;
}

/** main **/
h1{
    text-align: center;
}

video{
    width:100%;
}

#blog{
    width:100%;
    display:flex;
}

#blog article{
    width:100%;
    margin-left:5px;
    margin-right:5px;
}

#blog img{
    width:100%;
}

footer{
    display:flex;
    background-color:#7a7a7a;
}

footer ul{
    list-style: none;
}

footer div{
    width:30%;
}


/* inscription */

main input[type=text]{
    border: none;
    padding: 10px;
    min-width: 255px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    margin-bottom:15px;
}


main input[type=email]{
    border: none;
    padding: 10px;
    min-width: 255px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    margin-bottom:15px;
}

main input[type=password]{
    border: none;
    padding: 10px;
    min-width: 255px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    margin-bottom:15px;
}

main input[type=date]{
    border: none;
    padding: 10px;
    min-width: 255px;
    color: #7a7a7a;
    border: 1px solid rgba(0,0,0,.25);
    margin-bottom:15px;
}

main form{
    width: 800px;
    margin:auto;
}

main form label{
    display:inline-block;
    width:75px;
}

#inscription main{
    min-height: 500px;
}

#contact main{
    min-height: 500px;
}

#connexion main{
    min-height: 500px;
}

footer a{
    color:black;
}


footer a:hover{
    color:white;
}





/** media query mobile écran < 576px **/
@media screen and (max-width: 576px) {

    #ancre{
        position:fixed;
        top:90%;
        left:85%;
        width:50px;
        height:50px;
    }

    header {
        border-bottom: 2px solid #f1f1f1;
        max-height: 70px;
        margin-bottom: 70px;
        background: #fff;
        color: #7a7a7a;
        display:flex;
        flex-direction:column;

    }

    #menu ul{
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:10px;
        background-color: #7a7a7a;
        color:white;
    }

    #blog{
        width:100%;
        display:flex;
        flex-direction: column;
    }


    footer{
        display:flex;
        flex-direction: column;
        background-color:#7a7a7a;
        margin:auto;
    }


    footer div{
        width:100%;
        text-align: center;
    }


}

@media screen and (min-width: 576px) and (max-width: 768px) {

    #ancre{
        position:fixed;
        top:90%;
        left:90%;
        width:50px;
        height:50px;
    }

    #blog{
        width:100%;
        display:block;
    }

    #blog article{
        width:48%;
        margin-left:5px;
        margin-right:5px;
        float:right;
    }


    #blog img{
        width:100%;
    }

    footer{
        clear:right;
        display:inline-block;
        background-color:#7a7a7a;
        height: auto;
        width: 100%;
    }

    footer div#categorie{
        width:48%;
        margin-left:5px;
        margin-right:5px;
        float:left;
    }

    footer div#compte{
        width:48%;
        margin-left:5px;
        margin-right:5px;
        float:left;
    }

    footer div{
        width:48%;
        margin-left:5px;
        margin-right:5px;
        float:left;
    }

}
